/*
 * rubygang theme
 * Version: 0.0.1
 */
@import url("https://gazellegames.net/static/styles/game_room/style.css");
body {
  background-image: url("https://raw.githubusercontent.com/TinyMemoria/stylesheet/06cc36d30321c857e5b9837bc333e2c2f7e0a873/rubygangbackground.png");
}
body #logo, body #logo.power_logo, body #logo.power_logo2, body #logo.power_logo3 {
  border-bottom: none;
  background: url("https://raw.githubusercontent.com/TinyMemoria/stylesheet/main/rubygangbanner2.png") no-repeat bottom center;
  background-size: contain;
}
